
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Dancing+Script&family=Roboto:wght@400;700&display=swap');
body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logolinguagens {
  width: 200px;
}
ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.contato {
  padding: 10px;
  border-radius: 4px;
  border: 0.4px solid aqua;
}
.contato:hover {
  background-color: rgba(167, 246, 246, 0.935);
}
.listmenu {
  position: relative;
}
.listmenu:after {
  content: "";
  display: block;
  height: 4px;
  width: 0%;
  background-color: aqua;
  margin-top: 2px;
}

li:hover::after {
  width: 100%;
  transition: 0.3s;
  position: absolute;
}
h1,
span,
p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
}
span {
  color: #5e3bee;
}
p {
  font-size: 18px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 120px;
  align-items: center;
}

.logowhats {
  width: 50px;
  margin-top: 50px;
}
.logowhats:hover {
  width: 55px;
}
.borderbot {
  border-bottom: 2px solid aqua;
}
.skills {
  margin: 120px;
}
.myskills {
  margin-top: 120px;
}
.myexpertise {
  font-family: 48px;
}
.introimg {
  max-width: 100%;
  display: block;
  margin-left: 60px;
}
.qualities {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 120px;
  gap: 100px;
  margin-bottom: 240px;
}
.aboutme {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 120px;
  align-items: center;
}
.aboutme img {
  max-width: 50%;
  margin-left: 120px;
}

.portifoliotitlle {
  margin: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: 120px;
}

.visitgit {
  padding: 15px 20px;
  border-radius: 4px;
  width: 50px;
  background-color: #e62872;
  color: azure;
  margin-left: 400px;
  max-width: 100%;
}
.visitgit:hover {
  background-color: #941c4a;
}

.portifoliocontent {
  margin: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
}

.imagem {
  max-width: 100%;
  border: 0.4px solid aqua;
  border-radius: 4px;
}
.imagem:hover {
  border: 2px solid #5e3bee;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
}

.listfooter {
  padding: 5px;
  border-radius: 4px;
}
.listfooter:hover {
  border: 0.4px solid aqua;
}

.habilits {
  background-color: rgb(240, 236, 236);
  padding: 15px;
}
.logohome {
  font-family: 'Dancing Script', cursive;
  font-size: 28px;
}
.fraselatin {
  font-family: 'Aboreto', cursive;
}

@media (max-width: 1200px) {
  .qualities {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 900px) {
  h1,
  span {
    font-size: 32px;
  }
  h2 {
    font-size: 22px;
  }
  p {
    font-size: 14px;
  }
  ul {
    gap: 30px;
  }
  .logowhats {
    width: 35px;
  }
  .logowhats:hover {
    width: 40px;
  }
  .listmenu {
    background-color: rgb(240, 236, 236);
    padding: 5px;
    border-radius: 4px;
  }
  .listmenu:hover {
    border: 0.4px solid aqua;
  }
  .contato,
  .listmenu:after {
    display: none;
  }
  .habilits img {
    width: 25%;
  }

  .aboutme {
    grid-template-columns: 1fr;
  }
  .aboutme img {
    display: none;
  }
  .logofooter {
    display: none;
  }
}
@media (max-width: 770px) {
  main {
    grid-template-columns: 1fr;
  }
  .portifoliotitlle {
    grid-template-columns: 1fr;
  }
  .visitgit {
    margin-left: 0px;
  }
  .logolinguagens {
    width: 150px;
  }
}
@media (max-width: 660px) {
  ul {
    gap: 20px;
  }
  .qualities {
    grid-template-columns: 1fr;
  }
  .logolinguagens {
    width: 100px;
  }
  .portifoliocontent {
    grid-template-columns: 1fr;
  }
  .logohome {
    font-size: 18px;
  }
}
@media (max-width: 660px) {
  .qualities h2 {
    font-size: 18px;
  }
  .qualities p {
    font-size: 12px;
  }
  a {
    font-size: 12px;
  }
}
@media (max-width: 450px) {
  .introimg {
    display: none;
  }
  h1 , span {
    font-size: 24px;
  }
  h2 {
    font-size: 16px;
  }
  p {
    font-size: 12px;
  }
  .qualities, .introducao , .skills, .aboutme, .portifoliotitlle, .portifoliocontent, main {
    margin: 30px;
  }
  .habilits {
    padding: 5px;
  }
}
@media (max-width: 250px){
   .qualities , .introducao , .skills, .aboutme, .portifoliotitlle, .portifoliocontent, main {
    margin: 15px;
  }
  
  h1 , span {
    font-size: 18px;
  }
  h2 {
    font-size: 14px;
  }
  p {
    font-size: 8px;
  }
  a{
    font-size: 10px;
  }
  .habilits p {
    font-size: 8px;
    
  }
  .borderbot {
    margin-top: 30px;
  }
}


